services:
  - type: web
    name: student-tracker-backend
    runtime: node
    repo: https://github.com/Chiranjeevisai18/Hybrid-Student-Productivity-Tracker
    branch: main
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGIN
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: REDIS_URL
        sync: false
